<h1>Edit Task</h1>
<%= form_for(@task_list) do |f| %>
	<div class="field">
		<p>title</p>
		<%=f.text_field :title%>
	</div>
	<div class="field">
		<p>course</p>
		<%=f.collection_select :course_id, Course.all, :id, :name %>
	</div>
	<div class="field">
		<p>user</p>
		<%= f.collection_select :user_id, User.all, :id, :name %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<%end%>
