<!DOCTYLE html>
<html>
	<head>
		<title>Lingbin Cai Homepage</title>
	</head>
	<body>
		<h1>Lingbin Cai Courses</h1>
		<p> User Table </p>
		<%= link_to "Users", users_path %>
		<%= link_to "Add User", new_user_path %><br>
		<p> Course Table </p>
		<%= link_to "Courses", courses_path %>
		<%= link_to "Add Course", new_course_path %>
		<p> Task Table </p>
		<%= link_to "Tasks", tasklists_path %>
		<%= link_to "Add Task", new_tasklist_path %>
	</body>
</html>
