<h1 class="page_name">Users</h1>
<table>
	<tr>
		<td class='table_header'>name</td>
		<td class='table_header'>email</td>
		<td class='table_header'>password</td>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<td><%= user.password %></td>
		<td>
			<%= link_to "show", user_path(user.id), :class => 'table_action' %>
			<%= link_to "edit", edit_user_path(user.id), :class => 'table_action' %>
			<%= link_to "delete", user, confirm:"Do you really want to delete?", method: :delete, :class => 'table_action' %>
		</td>
	</tr>
	<% end %>
</table>