<div class='wrapper'>
	<h1 class='page_name'>Add Courses</h1>
	<%= form_for(@course) do |f| %>
		<div class="field">
			<h3>Title</h3>
			<%= f.text_field :name%>
			<% if (@course.errors.include?(:name)) %>
				<li class='error-msg'><%= @course.errors[:name]%></li>
			<%end%>
		</div>
		<div class="field">
			<h3>Difficulty</h3>
			<%= f.select( :difficulty, Course::DIFFICULTY_LEVEL) %>
		</div>
		<div class="actions">
			<%= f.submit 'Create Course', :class => 'button-large-cta' %>
		</div>
	<% end %>
</div>
